<!DOCTYPE html>
<html lang="en">
<head>
    <title>The landing-page Website Template | Home :: w3layouts</title>
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
         <!-- Custom Theme files -->
        <link href="css/style.css" rel='stylesheet' type='text/css' />
         <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        </script>
         <!---- start-smoth-scrolling---->
        <script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){     
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>
         <!---- start-smoth-scrolling---->
        <!----- webfonts ------>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic|Open+Sans:300italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>
        <!----- webfonts ------>
        <!----start-top-nav-script---->
        <script>
            $(function() {
                var pull        = $('#pull');
                    menu        = $('nav ul');
                    menuHeight  = menu.height();
                $(pull).on('click', function(e) {
                    e.preventDefault();
                    menu.slideToggle();
                });
                $(window).resize(function(){
                    var w = $(window).width();
                    if(w > 320 && menu.is(':hidden')) {
                        menu.removeAttr('style');
                    }
                });
            });
        </script>
        <!----//End-top-nav-script---->
</head>
<body>
    
   <div class="main-header">
        <!----- start-header---->
            <div id="home" class="header">
                    <div class="top-header">
                        <div class="container">
                        <div class="logo">
                               <h2 style="color:white;">EventFlow</h2>
                        </div>
                        <!----start-top-nav---->
                         <nav class="top-nav">
                            <ul class="top-nav">
                                <li class="active"><a href="Home/Index.cshtml" class="scroll">Home </a></li>
                                <li><a href="Participants/Index.cshtml" class="scroll">Participants</a></li>
                                <li><a href="Registrations/Index.cshtml" class="scroll">Registrations</a></li>
                                <li><a href="Events/Index.cshtml" class="scroll">Events</a></li>
                            </ul>
                            <a href="#" id="pull"><img src="images/menu-icon.png" title="menu" /></a>
                        </nav>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        <!----- //End-header---->
        <!----start-slider-script---->
            <script src="js/responsiveslides.min.js"></script>
             <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                  // Slideshow 4
                  $("#slider4").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                      $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                      $('.events').append("<li>after event fired.</li>");
                    }
                  });
            
                });
              </script>
            <!----//End-slider-script---->
            <!-- Slideshow 4 -->
                <div  id="top" class="callbacks_container">
                  <ul class="rslides" id="slider4">
                    <li>
                        <div class="tittle-head">
                            <h1>Simple Event System Manager</h1>
                            <p>Just for you. </p>
                        </div>
                    </li>
                    <li>
                    <div class="tittle-head">
                            <h1>Your Ultimate Guide</h1>
                            <p>Just for you. </p>
                        </div>
                    </li>
                  </ul>
                </div> 
                <div class="clearfix"> </div>
                </div>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="about" class="about">
                <div class="container">
                    <div class="about-head">
                        <h3>About</h3>
                        <span>Who we are?</span>
                        <p>At EventFlow, we're dedicated to simplifying event management. With a passion for creating memorable experiences, our team ensures seamless planning and execution, making every event a success.</p>
                    </div>
                </div>
                
            </div>
            <!----- //End-about---->
            <div id="services" class="services">
            <div class="container">
               <div class="gallery-head text-center">
                  <h3>Services</h3>
                  <p>What we do?.</p>
                </div>
                <div class="row text-center feature">
                    <div class="col-md-4 service_grid">
                        <i class="icon1"> </i>
                        <h3>Event Coordination</h3>
                        <p>Leave the details to us. Our experienced coordinators handle everything from venue selection to logistics, ensuring your event runs smoothly.</p>
                    </div>
                    <div class="col-md-4 service_grid">
                    <i class="icon2"> </i>
                        <h3>Registration & Ticketing</h3>
                        <p>Simplify attendee management with our user-friendly registration and ticketing services. Focus on engagement; we'll take care of the rest.</p>
                    </div>
                    <div class="col-md-4 service_grid">
                        <i class="icon3"> </i>
                        <h3>Customized Event Solutions</h3>
                        <p>Tailor your event with our customizable solutions. From branding to technology integration, EventEase caters to your unique needs for a flawless experience.</p>
                    </div>
                </div>
            </div>
        </div>
     <!---//End-services----->
           <div id="contact" class="feedback">
                <div class="container">
                    <div class="feed-head">
                    <h3>Contact </h3>
                    <p>Get in touch!</p>
                </div>
                <div class="feed-contact">
                                <div class="col-md-8 contact-form">
                                            <form>
                                                <input type="text" class="textbox" value="Name" onfocus="this.value = '';" onblur="if (this.value = 'Name') {this.value = 'Name';}">
                                                <input type="text" class="textbox" value="E-mail" onfocus="this.value = '';" onblur="if (this.value ='E-mail') {this.value = 'E-mail';}">
                                                <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                                                <input type="submit" value="Send a message" >

                                            </form>
                                </div>
                                <div class="col-md-4 address">
                                        <h4>Our company </h4>
                                        <p>55 Main St.Toronto</p>
                                        <p>1234 City Road,city Name.</p><br>
                                        <p>+1534 432 123</p>
                                        <p><a href="#" >Contact@company name</a></p>
                                    <div class="footer-icons">
                                        <ul class="soc_icons unstyled-list list-inline">
                                            <li><a href="#"><i class="icon_1"></i></a></li>
                                            <li><a href="#"><i class="icon_2"></i></a></li>
                                            <li><a href="#"><i class="icon_3"></i></a></li>
                                            <li><a href="#"><i class="icon_4"></i></a></li>
                                            <div class="clearfix"> </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                        <div class="container">
                            <div class="logo2">
                                   <h4 style="color: white;">EventFlow</h4>
                            </div>
                            <div class="copy-right">
                                <p>&copy; 2024  All rights  Reserved</p>
                            </div>                              
                            <div class="clearfix"> </div>
                        </div>  
                </div>  

                <script type="text/javascript">
                                    $(document).ready(function() {
                                        /*
                                        var defaults = {
                                            containerID: 'toTop', // fading element id
                                            containerHoverID: 'toTopHover', // fading element hover id
                                            scrollSpeed: 1200,
                                            easingType: 'linear' 
                                        };
                                        */
                                        
                                        $().UItoTop({ easingType: 'easeOutQuart' });
                                        
                                    });
                                </script>
                    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>
